.menu-animation {
  width: 35px;
  height: 5px;
  background-color: #f5cb5c;
  margin: 6px 0;
  border-radius: 20px;
}

.spell-container {
  position: relative;
}

.position-nom-sort {
  position: absolute;
  top: 50%;
  left: -150%;
  transform: translate(-50%, -50%);
}


