.classic-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.357);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hover-glass:hover {
  /* From https://css.glass */
  background: rgba(150, 150, 150, 0.151);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(150, 150, 150, 0.23);
}

.classic-glass-moins-flou {
  /* From https://css.glass */
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glass1 {
  /* From https://css.glass */
  background: rgba(140, 132, 59, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(140, 132, 59, 0.23);
}

.glass1-plus-clair {
  /* From https://css.glass */
  background: rgba(140, 132, 59, 0.547);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(140, 132, 59, 0.23);
}

.glass2 {
  /* From https://css.glass */
  background: rgba(140, 132, 59, 0.41);
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(140, 132, 59, 0.23);
}

.glass3 {
  /* From https://css.glass */
  background: rgba(39, 52, 32, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(39, 52, 32, 0.23);
}

.glass4 {
  /* From https://css.glass */
  background: rgba(87, 73, 66, 0.368);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

/*glass en fonction des roles pour sorts*/

.glass-tank {
  /* From https://css.glass */
  background: rgba(84, 4, 4, 0.559);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(140, 62, 59, 0.23);
}

.glass-healer {
  /* From https://css.glass */
  background: rgba(8, 75, 8, 0.559);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(62, 140, 59, 0.23);
}

.glass-mage {
  /* From https://css.glass */
  background: rgba(3, 3, 96, 0.559);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(62, 59, 140, 0.23);
}

/*--------------------------------------*/

.glass-dead {
  background: rgba(52, 35, 32, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(52, 35, 32, 0.23);
}

.input-glass {
  /* From https://css.glass */
  background: rgba(197, 147, 23, 0.41);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(140, 132, 59, 0.23);
}

.clock-glass {
  background: rgba(140, 132, 59, 0.41);
  border-radius: 30px;
  width: 40%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.on-hover:hover {
  background: rgba(255, 255, 255, 0.202);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
