/* -- BACKGROUND --*/
.body {
  background-color: #232826;
}

/* -- SCROLLBAR --*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* track */
::-webkit-scrollbar-track {
  background: #232826;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #f5cb5c;
  border-radius: 4px;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5cb5c;
}

.scrollNavbar {
  /*pour afficher en haut pour se connecter*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar h1 {
  font-size: 3vh;
  padding: 0px 5px 0px 5px;
  color: #f5cb5c;
}

.tailleTitre {
  font-size: 15vh;
}

.tailleSousTitre {
  font-size: 7vh;
}

/* -- CHARACTERS' TABLE --*/
/* Style the tab */
.tab {
  float: left;
  background-color: #232826;
  width: 30%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #f5cb5c;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f5cb5c;
  color: #232826;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

.tabcontent.active {
  display: block;
}

.mainChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerAccueil {
  color: #f5cb5c;
  text-align: center;
}

.fleche {
  margin-top: 25vh;
}

.centeredDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  height: 100vh;
}

.centeredDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  height: 80vh;
}

.footer {
  height: 10vh;
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  color: #232826;
  background-color: #f5cb5c;
}
