:root {
    --couleur-principale: #1e1e1e; /* Couleur de fond principale */
    --couleur-bordure: #ffcc00; /* Couleur de bordure */
    --couleur-texte: #ffffff; /* Couleur du texte */
  }
  


  
  /* Styles de la boîte */
  .lol-box {
    background-color: var(--couleur-principale);
    border: 2px solid var(--couleur-bordure);
    color: var(--couleur-texte);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-height: 500px; /* Hauteur maximale de la boîte */
    overflow: auto; /* Ajout d'une barre de défilement si nécessaire */
    opacity: 0; /* Opacité initiale à 0 */
    animation: fade-in 0.5s forwards; /* Animation de fondu */
    top: 0px;
    overflow: hidden;
    position: relative;

  }

  .lol-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url('https://lolstatic-a.akamaihd.net/frontpage/apps/prod/preseason-2018/fr_FR/a6708b7ae3dbc0b25463f9c8e259a513d2c4c7e6/assets/img/runeBuilder/assets/construct/8300/environment.png'); /* Chemin vers l'image d'animation spécifique à League of Legends */
    background-repeat: no-repeat;
    background-size: cover;
    transition: left 0.2s ease;
    z-index: -1;
  }

  .lol-box:hover::before{ 
    left: 0;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  .lol-image {
    display: block;
    width: 200px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour préserver les proportions */
    border-radius: 50%; /* Transformer l'image en un cercle */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Ombre portée */
    filter: grayscale(100%); /* Convertir l'image en noir et blanc */
    transition: all 0.3s ease; /* Animation de transition pour les effets */

  }

  .lol-image:hover{
    filter: grayscale(0%); /* Restaurer les couleurs d'origine au survol */
    transform: scale(1.1); /* Effectuer un léger zoom au survol */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Renforcer l'ombre portée au survol */
  }
  
.col-skins{

  justify-content: center;
  align-items: center;

}



  /* Effet de survol */
  .lol-image:hover {
    transform: scale(1.1); /* Agrandissement de l'image */
  }





.row-profile{
    top: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 100px;
    width: 100%;
    align-content: center;
    align-self: center;
}

.col-skin{
    flex: 1;
    top: 50px;
    margin-left: 30px;
}


.col-skin img{
    max-width: 80%;
    height: auto;
    left: 50%;
}



.stripe{
    height: 1px;
    background: white;
    margin-bottom: 5px;
    margin-top: 5px;
}


.spellBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}



