.questRow{
    top: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 100;
    padding: 100;
    
}
.text-center1{
   
         text-align: center;
      color: #F5CB5C; 
      font-family: "hug";
    
    
    font-size: 250%;
}
.text-color2{
    color:#fefeff;
    
}
