.tab-class {
    margin: auto;
    top: 20%;
    left: 10%;
    width: 80%;
    border: solid 1px orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .tab-class h1 {
    text-align: center; /* Pour centrer le texte */
  color: orange; 
  }
  .tab-class th {
    color:orange;
    
    margin-right: 60px
  
  } 
  .tab-class td {
    color :white;
  }
  





  
 