.case{
    height: 400px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.row{
    display: flex;
}

.col{
    flex: 1;
}

.col img{
    max-width: 100%;
    height: auto;

}