.div-main{
    top: 50px;
    color: white;
}

.row-profil{
    top: 50%;
    position: absolute;
    display: flex;
}

.col-skin{
    flex: 1;
    top: 50px;
}


.col-skin img{
    max-width: 80%;
    height: auto;
    left: 50%;
}

.col-details{
    flex: 1;
    top: 50px;
}

.stripe{
    height: 1px;
    background: black;
    margin-bottom: 5px;
    margin-top: 5px;
}


.spellBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

