:root {
    --couleur-principale: #1e1e1e; /* Couleur de fond principale */
    --couleur-bordure: #ffcc00; /* Couleur de bordure */
    --couleur-texte: #ffffff; /* Couleur du texte */
  }
    


  
  /* Styles de la boîte */
  .lol-box {
    position: relative;
    width: 400px;
    height: 150px;

    transition: 0.5s;
  }

  .lol-box:hover{
    height: 350px;
  }


  .lol-box .lines{
    position: absolute;
    inset:0;
    background: #000;
    overflow: hidden;
  }

  .lol-box .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #ffcc00,#ffcc00,#ffcc00, transparent);
    animation: animate 4s linear infinite;
  }

  @keyframes animate{
    0%{
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }


  .lol-box .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
  }


  .lol-box .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    color: white;
    padding: 10px;
  }


  .lol-box .content h1{
    color: #ffcc00;

  }


  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  .lol-image {
    display: block;
    width: 200px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour préserver les proportions */
    border-radius: 50%; /* Transformer l'image en un cercle */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Ombre portée */
    filter: grayscale(100%); /* Convertir l'image en noir et blanc */
    transition: all 0.3s ease; /* Animation de transition pour les effets */

  }

  .lol-image:hover{
    filter: grayscale(0%); /* Restaurer les couleurs d'origine au survol */
    transform: scale(1.1); /* Effectuer un léger zoom au survol */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Renforcer l'ombre portée au survol */
    background-color: gray;
  }
  
.col-skins{

  justify-content: center;
  align-items: center;

}



  /* Effet de survol */
  .lol-image:hover {
    transform: scale(1.1); /* Agrandissement de l'image */
  }





.row-profile{
    top: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 100px;
    width: 100%;
    align-content: center;
    align-self: center;
}

.col-skin{
    flex: 1;
    top: 50px;
    margin-left: 30px;
}


.col-skin img{
    max-width: 80%;
    height: auto;
    left: 50%;
}



.stripe{
    height: 1px;
    background: white;
    margin-bottom: 5px;
    margin-top: 5px;
}


.spellBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}



