.tab-class {
    margin: auto;
    top: 20%;
    left: 10%;
    width: 80%;
    border: solid 1px orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  





  
 