@font-face {
    font-family: 'hug';
    src: url("../Fonts/Hermit-Regular.otf");
}

.hug{
    font-family: 'hug'; 
}

.team-name{
    font-family: 'hug';
    color: #F5CB5C;
}

.taille-lignes-tab{
    font-size: 2vh;
    color: #fdfdfb;
}

.just-color-white{
    color: #fdfdfb;
}

.just-color-dark-red{
    color: #77021D;
}

.just-color-blue{
    color: #3f48cc;
}

.just-color-yellow{
    color: #F5CB5C;
}

.classe-sup{
    color: #232826;
    font-family: 'hug';
    background-color: #ddad54
;
}