@font-face {
  font-family: "hug";
  src: url("../Fonts/Hermit-Regular.otf");
}
.log-size {
  font-size: 2vh;
}

.clock-size {
  font-size: 8vh;
}

.who-how-many-size {
  font-size: 3vh;
}


.ma-classe-size {
  font-size: 3vh;
}

.big-button{
    font-size: 3vh;
}

.input-size {
  height: 30px;
  font-size: 20px;
}

.input-big-size {
  height: 50px;
  font-size: 30px;
}

.hug {
  font-family: "hug";
}

.team-name {
  font-family: "hug";
  color: #f5cb5c;
}

.taille-lignes-tab {
  font-size: 2vh;
  color: #fdfdfb;
}

.just-color-white {
  color: #fdfdfb;
}

.just-color-dark-red {
  color: #77021d;
}

.just-color-dark-blue {
  color: #0a1d37;
}

.just-color-blue {
  color: #3f48cc;
}

.just-color-green{
  color: rgba(121, 145, 107, 0.75);
}

.just-color-yellow {
  color: #f5cb5c;
}

.just-color-black {
  color: #232826;
}

.size-digits {
  font-size: 2vh;
}

.box-size {
  height: 80vh;
}

.box-size-2 {
  width: 45%;
}

.spacing-tab{
  line-height: 1.5;
}

.classe-sup {
  color: #232826;
  font-family: "hug";
  background-color: #ddad54;
}

.blinking-cursor {
  animation: cursor-blink 1s infinite;
  color: #f5cb5c;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
